
// #SLIDERS

.slider {
  position: relative;

  &.slider--fade {
    .flickity-slider {
      transform: none !important;
    }

    .slide {
      padding-right: 0;

      img {
        width: 100%;
      }
    }

    .padded & {
      margin: 0 ($gutter * -1) 0 0;

      @media #{$tablet_portrait} {
        margin: 0 calc($gutter/2 * -1);
      }

      @media #{$phone} {
        margin: 0 calc($gutter/3 * -1);
      }
    }
  }
}

  .slide {
    width: 100%;
    // padding-left: $gutter/2;
    padding-right: $gutter/2;

    .slider--fade & {
      opacity: 0;
      transform: none !important;
      transition: opacity $slow*2;

      &.is-selected {
        opacity: 1;
      }
    }
  }

  .flickity-viewport {
    overflow: hidden;
    transition: height $slow;
  }

  .flickity-page-dots {
    bottom: 0;
    text-align: center;

    .dot {
      background: $white;
      width: $rythm/1.5;
      height: $rythm/1.5;
      margin: 0 $rythm/4;
    }

    .dot.is-selected {
      background: $black;
    }
  }
  