
// #menu

.menu {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  // z-index: 11;

  // transition: transform $fast;
  // transform: translateY(0);

  summary {
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: transform $fast, color $fast, opacity $fast;

    // font-size: $medium_size;
    // text-align: center;    
    // padding: $rythm/2;
    // background: fade-out($green--light, 0.05);

    &:hover,
    &:focus-visible {
      opacity: 0.56;
    }

    &::-webkit-details-marker {
			display: none;
			content: "";
		}

    &::-moz-details-marker {
      display: none;
      content: "";
    }

    &::details-marker {
      display: none;
      content: "";
    }

    &::marker {
      display: none;
      content: "";
    }

    // iOS Safari specific fix
    list-style: none;
    list-style-type: none;

    // &:before {
    //   content: "menu";
    // }

    svg {
      width: $rythm/1.75;
      height: $rythm/1.75;
    }
  }

  a {
    &:hover,
    &:focus-visible {
      opacity: 0.56;
    }
  }

  &[open] {
    summary {
      color: $green--light;
      transform: rotate(45deg);
      // background: fade-out($green--light, 0.05);

      // &:before {
      //   content: "fermer";
      // }
    }
  }

  &:not(.menu--open)[open] {
    summary {
      pointer-events: none;
    }
  }

  .headroom--unpinned + &:not([open]) {
    // transform: translateY(100%);
  }
}



  @keyframes sweep {
    0%    { transform: translateX(100%) }
    100%  { transform: translateX(0%) }
  }

  .menu__container {
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    min-height: 50lvh;
    width: 100vw !important;
    max-width: 420px;
    padding: $rythm;
    color: $green--light;
    background: $red;
    transition: transform $slow ease-in-out 0.333ms;
    transform: translateX(100%);

    details.menu--open & {
      transform: translateX(0%);
    }

    // details:not([open]) &,
    details:not(.menu--open) & {
      transform: translateX(100%);
    }

    @media #{$phone} {
      max-width: none;
      height: 100lvh;
      padding: $rythm/2 $rythm/2 $rythm*2;
    }

    ol {
      list-style: none;
      padding: 0;
      margin: 0;

      .menu__item {
        // display: block;
        width: 100%;
        line-height: 1;
        margin-bottom: $rythm/6;
        // text-transform: lowercase;
        // text-align: center;

        &--logo {
          margin-bottom: $rythm;
        }
      }

      &:first-child {
        .menu__item {
          font-size: $medium_size;
        }
      }
    }
  }

    
